<p>login works!</p>
<form>
    <h3>Login Here</h3>
  
    <label for="username">Username</label>
    <input type="text"  placeholder="Email" id="username" [(ngModel)] = "loginObj.email" name="email">
  
    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" [(ngModel)] = "loginObj.password" name="password">
  
    <button type="submit" (click)="onLogin()">Log In</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i> Google</div>
      <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
    </div>
  </form>

  <router-outlet></router-outlet>
 

  